[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
requests = "*"
bs4 = "*"
tqdm = "*"
aiohttp = {extras = ["speedups"], version = "*"}
asyncio = "*"
aioify = "*"

[dev-packages]

[requires]
python_version = "3.8"
