[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
requests = "*"
bs4 = "*"
tqdm = "*"
asyncio = "*"
aioify = "*"
pandas = "*"
torch = "*"
matplotlib = "*"

[dev-packages]

[requires]
python_version = "3.8"

[packages.aiohttp]
extras = [ "speedups",]
version = "*"
